@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");

.header {
  font-family: "Tapestry", cursive;
}

.header__main {
  font-size: 50px;
  text-align: center;
  transition: 0.6s;
}

.header__img {
  width: 80%;
  height: auto;
  border-radius: 10px;
}

.header__main--bigger {
  font-size: 68px;
}
