@import url("https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap");

.rewards {
  overflow-x: auto;
}

.rewards__table {
  border-collapse: collapse;
  margin-bottom: 40px;
  width: 100%;
}

.rewards__cell {
  border: 1px solid rgb(0, 0, 0);
  padding: 4px 12px;
  font-weight: normal;
}

.rewards__tableHeader {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.572);
  padding: 10px 0;
  color: white;
  font-family: "Marcellus SC", serif;
}
